@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Source+Sans+Pro&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
main section{
    text-align: center;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #363d45;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #363d45;
    color: #a1b5d8;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #fffcf7;
}
.button-box {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #d3e4c5;
}
body {
    background-color: #fffcf7;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    font-family: "Rowdies", Helvetica, sans-serif;
    line-height: 3em;
}
p{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1.2em; 
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #d3e4c5;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.home-title, .map-title {
    font-family: "Rowdies", Helvetica, sans-serif;
    font-size: 2em;
    color: #363d45;
    margin-top: 10px;
}
h4 {
    color: #363d45;
}
.book, .join {
    font-family: "Rowdies", Helvetica, sans-serif;
    font-size: 18px;
    background-color: #a1b5d8;
    color: #363d45;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #363d45;
    color: #d3e4c5;
}
.msg h2{
    color: #d3e4c5;
}
.msg p {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1.2em;
    color: #fffcf7;
    padding-bottom: 15px;
}
footer {
    background-color: #d3e4c5;
    color: #363d45;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: #363d45;
    text-decoration: none;
}
footer a:hover {
    background-color: #363d45;
    color: #a1b5d8;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    border: 10px solid #363d45;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .9;
    transform: scale(1.1);
}
.msg {
    line-height: 1.5em;
    background-color: #363d45;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
    width: 100%;
}
main section img {
    box-sizing: border-box;
}

/* Map page below!! */
/* Map page below!! */
/* Map page below!! */

#map-hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#map-img {
    width: 100%;
    grid-column: 1/4;
}
#map-hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#map-hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 20px ;
}
#map-hero-msg h1, #map-hero-msg h4 {
    text-align: center;
    color: #fffcf7;
}
#map-hero-msg h1 {
    font-size: 3em;
    line-height: .5em;
}
#map-hero-msg h4 {
    font-size: 1.5em    
}



.map-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 1500px;
}
.box-img{
    width: 100%;
    padding: 3%;
}
.rafting-box {
    grid-column: 1/4;
    grid-row: 1/7;
    background-color:#d3e4c5;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 2% 2% 5%;
}
.rafting-box p{
    margin-top: -.5em;
}
.camping-box {
    grid-column: 4/7;
    grid-row: 1/7;
    background-color:#d3e4c5;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 2% 2% 5%;
}
.camping-box p{
    margin-top: -.5em;
}
.hiking-box {
    grid-column: 7/10;
    grid-row: 1/7;
    background-color:#d3e4c5;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 2% 2% 5%;
}
.hiking-box p{
    margin-top: -.5em;
}
.amenities-box {
    grid-column: 10/13;
    grid-row: 1/7;
    background-color:#d3e4c5;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 2% 2% 5%;
}
.amenities-box p{
    margin-top: -.5em;
}
.hero2 {
    width: 100%;
    grid-column: 1/13;
    grid-row: 7/13;
    z-index: 0;
}
.map-icon {
    width: 20%;
    box-shadow: 5px 5px 10px #6f7364;
}
.hero2-msg {
    grid-row: 11/12;
    grid-column: 2/6;
    z-index: 1;
    line-height: 1.5em;
    background-color: #363d45;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    color:#fffcf7;
}
.hero2-msg p{
    font-size: 1.2em;
    margin-top: -.8em;
}
.hero2-msg h2{
    font-size: 1.5em;
    margin-top: -.5em;
}
.hero2-msg .join{
    margin-top: 15px;
}



form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}  



@media screen and (max-width: 900px) {
    #hero, .home-grid, .map-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero, #map-hero {
        margin-top: 0;
    }
    #hero-msg, #map-hero-msg {
        margin-top: 10px;
    }
    #map-hero-msg h4{
        display: none;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .map-title {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 25px;
        color: #fffcf7;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .rafting-box, .camping-box, .hiking-box, .amenities-box { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}